HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Application properties (local configuration) ###
src/main/resources/application.properties

### Docker ###
# Ignora pastas de volumes locais (ex: dados do banco de dados do compose)
*/data/
*db_data/
*.data/

# Ignora o arquivo de credenciais do Docker se houver
.env
